body{
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
}

.content{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    text-align: center;
}
hr{
    margin: 5%;
}

.wrapper{
    text-align: left;
}
.wrapper video{
    margin: 0 auto;

}

.content li{
    list-style-position: inside;
    margin: 1%;
    text-align: left;
}

.colwrap{
    position: relative;
    display: inline-block;
    width: 900px;
    height: auto;
    margin: 0 auto;
}

/*========================================
            Menu Bar Start
========================================*/

.menubar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 915px;
    border-radius: 10px;
    display: flex;
}

.menubar li {
    border-right: 1px solid #bbbbbb;
}

.menubar li:last-child {
    border-right: none;
    border-radius: 0 10px 10px 0;
}

.menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:150px;
}

.menubar li a:hover:not(.active) {
    background-color: #111;
}

.menubar li.selected{
    background-color: #046AB8;
}


.menubar{
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

/*========================================
            Menu Bar End
========================================*/



/*========================================
            About Me Start
========================================*/

.col1{
    float: left;
    display: block;
    margin-right: 5px;
}

.col2, .col3, .col4, .col5, .col6, .col7{
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #111111 solid 1px;
    text-align: center;
}

.col2 {
    width: 42%;
    height: auto;
}

.col3 {
    width: 17%;
    height: auto;
}

.col4 {
    width: 60%;
    height: 227px;
}

.col5 {
    width: 100%;
    height: auto;
}

.col6{
    width: 49%;
    height: auto;
}
.col7{
    width: 49%;
    float: right;
    height: auto;
}

.rowrwap1{
    width: 101%;
}

.rowrwap2{
    width: 101%;
}

/*========================================
            About Me End
========================================*/


/*========================================
            Examples Start
========================================*/

.row1{
    width: 100%;
    padding: 5%;
}

.row1 img{
    width: 100%;
    height: auto;
}

.rowwrapper1{
    float: left;
    width: 49%;
}

.rowwrapper2{
    float: right;
    width: 49%;
    border-left: #111111 solid 1px;
}


/*========================================
            Examples Start
========================================*/



/*========================================
         Smaller than 600 Start
========================================*/

@media screen and (max-width: 600px) {
    .menubar ul {
        display: block;
        width: 100%;
    }
    .menubar li {
        border-bottom: 1px solid #bbbbbb;
    }
    .menubar li a {
        width: 100%;
    }
    .content {
        text-align: center;
        margin: auto;
    }
    .rowwrapper1, .rowwrapper2{
        float: none;
        width: 100%;
        border: none;
    }
    .row1{
        padding: 0;
    }
    .colwrap{
        float: none;
    }
    .col1, .col2, .col3, .col4, .col5, .col6, .col7{
        width: 100%;
        margin: 0 auto;
    }
    .rowrwap1, .rowrwap2{
        width: 100%;

    }
}

/*========================================
         Smaller than 600 End
========================================*/
/*========================================
         Smaller than 1000 Start
========================================*/

@media screen and (max-width: 1000px) {
    .menubar ul {
        display: block;
        width: 100%;
    }
    .menubar li {
        border-bottom: 1px solid #bbbbbb;
    }
    .menubar li a {
        width: 100%;
    }
    .content {
        text-align: center;
        margin: auto;
    }
    .rowwrapper1, .rowwrapper2{
        float: none;
        width: 100%;
        border: none;
    }
    .row1{
        padding: 0;
    }
    .colwrap{
        width: 100%;
    }
    .col1, .col2, .col3, .col4, .col5, .col6, .col7{
        width: 100%;
        margin: 0 auto;
    }
    .rowrwap1, .rowrwap2{
        width: 100%;

    }

}

/*========================================
         Smaller than 600 End
========================================*/
